*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.content{
    display: block;
    justify-content: center;
}
.title{
    color: rgb(29, 188, 47);
    text-align: center;
    margin: 10px 0px;
    font-size: 13px;
    width: 100%;
}
.search{
    position: relative;
    overflow-x: hidden;
    margin: 0 20px;
    width: 100%;
}
input[type=text]{
    width: 80%;
    height: 43px;
    border-radius: 5px;
    border-color: rgb(212, 208, 208);
    margin-right: 5px;
}
#search-icon{
   position: absolute;
   top: 14px;
   left: 17px;
   opacity: 0.5;
}
#plus{
    position: absolute;
    top: 10px;
    right: 40px;
    font-size: 20px;
}
.columns{
    display: flex;
    justify-content: space-between;
    margin: 10px 5px 0px 0px;
    font-size: 10px;
    font-weight: bold;
    height: 25px;
}
.c1:hover{
    border-bottom: 2px solid black;
}
.playlist{
    display: block;
}
.p1{
    display: flex;
    justify-content: space-between;
    margin: 0px 20px;
    height: 70px;
    width: 170px;
}
.playlist img{
    height: 54px;
    width: 74px;
}
.text{
    margin: auto;
    margin-left: 15px;
    font-weight: bolder;
    font-size: 12px;
}
@media screen and (min-width:425px) {
    .playlist{
        display: flex;
        flex-wrap: wrap;
    }
    .columns{
        font-size: 12px;
        margin: 10px 15px;
        margin-right: 25px;
    }
    input[type=text]{
        width: 85%;
    }
    .p1{
        height: 80px;
        width: 170px ;
    }
    .playlist img{
        height: 64px;
        width: 84px;
    }
}
@media screen and (min-width:768px) {
    .columns{
        font-size: 14px;
        margin: 10px 15px;
        margin-right: 35px;
    }
    #plus{
        right: 80px;
    }
    .p1{
        height: 80px;
        width: 200px ;
    }
    .playlist img{
        height: 64px;
        width: 84px;
    }
}
@media screen and (min-width:1024px) {
    #plus{
        position: absolute;
        top: 10px;
        right: 100px;
    }
    .columns{
        font-size: 17px;
        margin: 10px 15px;
        margin-right: 56px;
    }
    .p1{
        height: 100px;
        width: 206px ;
        margin-bottom: 25px;
    }
    .playlist img{
        height: 104px;
        width: 114px;
    }
    .text{
        font-size: 14px;
    }
}
